body
{
    margin: 0;
    background-image: url(./images/akatsuki.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.login_page
{
    height: 460px;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative; top: 145px;
    margin: 50px auto;
    border-radius: 20px;
}

.bck-btn button img
{
    height: 40px;
    width: 40px;
    background-color: transparent;
    position: relative; bottom: 100px;

}

#Header
{
    position: relative; bottom: 80px;
    text-align: center;
    color: whitesmoke;
}

.login_logo img
{
    position: relative; bottom: 20px;
    height: 160px;
    width: 260px;
    margin-left: 100px;
}

.inputs
{
    margin-left: 70px;
    position: relative; bottom: 90px;
    padding: 15px;
    justify-items: center;
}

.inputs input
{
    color: white;
    padding: 15px 80px 15px 80px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.319);
    border: 1px ridge whitesmoke;
    text-align: center;
}

#rem_chkbox
{
    margin-left: 87px;
    position: relative; bottom: 85px;
}

.rem input[type=checkbox]
{
    padding: 3px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.rem p 
{
    color: whitesmoke;
    text-decoration: none;
    font-size: 14px;
    margin-left: 112px;
    position: relative; bottom: 120px;
}

.sub-btn
{
    margin-left: 200px;
    position: relative; bottom: 90px;
}

.sub-btn button
{
    color: whitesmoke;
    padding: 11px 16px 11px 16px;
    border: 1px ridge whitesmoke;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}

.sub-btn button:hover
{
    cursor: pointer;
    color: white;
    background-color: rgba(255, 0, 0, 0.467);
}